@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">DELTA GAMES</h1>
    <a href="/deltagames.png"></a>
</div>
<div id="carouselExampleControls carouselIndex" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active carouselIndex">
            <img src="/Fifa.jpg" class="d-block w-100">
        </div>
        <div class="carousel-item carouselIndex">
            <img src="/Ark.jpg" class="d-block w-100">
        </div>
        <div class="carousel-item carouselIndex">
            <img src="/Avion.jpg" class="d-block w-100">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
    <a href='@Url.Action("AgregarJuego","Home")' class="btn btn-info NuevoJuego">Agregar juego</a>
<div class="row">
@{
    @foreach (Juego item in @ViewBag.listaJuegos)
    {
        <div class="card OrdenarJuegosIndex" style="width: 14rem;">
            <img src="@item.Imagen" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">@item.Nombre</h5>
<<<<<<< HEAD
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalJuego" onclick="MostrarInfoJuego(@item.IdJuego)">
=======
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalJuego" onclick="MostrarMasInfo(@item.IdJuego)">
>>>>>>> f79e29c9330e6607b2613653ea71a5cbb0babf6f
                    Más info
                </button>
            </div>
        </div>
    }
}
</div>

<!-- Modal -->
<div class="modal fade" id="ModalJuego" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 20%;" role="document">
        <div class="modal-content bg-white text-dark">
<<<<<<< HEAD
            <div class="modal-header">
                <h5 class="modal-title" id="NombreJuego"></h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
=======
>>>>>>> f79e29c9330e6607b2613653ea71a5cbb0babf6f
            <div class="modal-body">
                <p id="FechaCreacion"></p>
                <p id="Descripcion"></p>
                <p id="Precio"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
<<<<<<< HEAD
=======
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Comprar</button>
>>>>>>> f79e29c9330e6607b2613653ea71a5cbb0babf6f
            </div>
        </div>
    </div>
</div>