@{
    ViewData["Title"] = "Home Page";
    var Juego = ViewBag.listaJuegos;
}

<div class="text-center">
    <h1 class="display-4">DELTA GAMES</h1>
    <a href="/deltagames.png"></a>
</div>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
    <a href='@Url.Action("AgregarJuego","Home")' class="btn btn-info NuevoJuego">Agregar juego</a>
@{
    @foreach (Juego item in @ViewBag.listaJuegos)
    {
        <div class="card" style="width: 18rem;">
            <img src="@item.Imagen" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@item.Nombre</h5>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalJuego" onclick="MostrarInfoJuego(@item.IdJuego)">
                    Más info
                </button>
            </div>
        </div>
    }

}


<!-- Modal -->
<div class="modal fade" id="ModalDetalles" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="NombreJuego"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="FechaJuego"></p>
                <p id="TextoModal"></p>
                <p id="PrecioDelJuego"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>